*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
  }  
  hr{
    width: 80%;
    margin-right: 10px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,75),rgba(0,0,0,0));

  }
  .navbar{
  
    display: flex;
    align-items: center;
  
  
  
  }
  .box{
    background: white;
    z-index: -1;
    margin-top: 100px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  nav{
    margin-top: 15px;
    flex: 1;
    text-align: right;
    background: rgba(248, 244, 244,0.19);
    border-radius: 30px;
  }
  nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
  }
  .row{
    margin-left: 50px;
    margin: 100px 0;
  
  
  }
  .col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
  }
  .col-1 h2{
    font-size: 54px;
  
  }
  .col-1 h3{
    font-size: 30px;
    color:#707070;
    font-weight: 100;
    margin:20px 0 10px;
  }
  .col-2{
    position: relative;
    display:flex;
    align-items:center;
    margin-left: 50%;
  
  }
  .text{
    background:gainsboro;
    margin-top: -40px;
    z-index: 1;
  }
  img{
    border-radius: 20px;
    z-index: 1;
  }
  .col-2 .meter{
    width: 90%;
  }
  
  .color-box{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#7579ff,#b224ef);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: 0;
  }
  body{
    background: -webkit-linear-gradient(left, #7579ff, #b224ef);
  }